In [22]:
import pandas as pd

In [35]:
df_control_data = pd.read_csv(r'C:\Users\Tombra\A-and-B-testing\archive (7)\control_group.csv', sep= ";")

In [36]:
df_control_data.head()

,Campaign Name,Date,Amount Spent [USD],Number of Impressions,Reach,Number of Website Clicks,Number of Searches,Content Viewed,Added to Cart,Purchased
0,Control Campaign,1.08.2019,2280,82702.0,56930.0,7016.0,2290.0,2159.0,1819.0,618.0
1,Control Campaign,2.08.2019,1757,121040.0,102513.0,8110.0,2033.0,1841.0,1219.0,511.0
2,Control Campaign,3.08.2019,2343,131711.0,110862.0,6508.0,1737.0,1549.0,1134.0,372.0
3,Control Campaign,4.08.2019,1940,72878.0,61235.0,3065.0,1042.0,982.0,1183.0,340.0
4,Control Campaign,5.08.2019,1835,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df_test_data = pd.read_csv (r'C:\Users\Tombra\A-and-B-testing\archive (7)\test_group.csv', sep= ";")

In [38]:
df_test_data.head()

,Campaign Name,Date,Amount Spent [USD],Number of Impressions,Reach,Number of Website Clicks,Number of Searches,Content Viewed,Added to Cart,Purchased
0,Test Campaign,1.08.2019,3008,39550,35820,3038,1946,1069,894,255
1,Test Campaign,2.08.2019,2542,100719,91236,4657,2359,1548,879,677
2,Test Campaign,3.08.2019,2365,70263,45198,7885,2572,2367,1268,578
3,Test Campaign,4.08.2019,2710,78451,25937,4216,2216,1437,566,340
4,Test Campaign,5.08.2019,2297,114295,95138,5863,2106,858,956,768

In [39]:
df_test_data.columns

Index(['Campaign Name', 'Date', 'Amount Spent [USD]', 'Number of Impressions',
       'Reach', 'Number of Website Clicks', 'Number of Searches',
       'Content Viewed', 'Added to Cart', 'Purchased'],
      dtype='object')

In [40]:
df_control_data.isnull().sum()

Campaign Name               0
Date                        0
Amount Spent [USD]          0
Number of Impressions       1
Reach                       1
Number of Website Clicks    1
Number of Searches          1
Content Viewed              1
Added to Cart               1
Purchased                   1
dtype: int64

In [41]:
df_test_data.isnull().sum()

Campaign Name               0
Date                        0
Amount Spent [USD]          0
Number of Impressions       0
Reach                       0
Number of Website Clicks    0
Number of Searches          0
Content Viewed              0
Added to Cart               0
Purchased                   0
dtype: int64